header,
footer {
  font-family: Open Sans Condensed, sans-serif;
}

.game {
  height: 500px;
  display: none;
  background-color: #EEE;
  margin: -1px;
}

.tutorial {
  font-family: Open Sans Condensed, sans-serif;
  margin: -1px;
  display: none;
}

.difficulties-container {
  height: 75px;
  padding: 20px;
  background-color: #EEE;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;

}

.btn.btn-primary:hover {
  -webkit-filter:
}
